.content{
    width: 100%;
/*    border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 1.5rem;
}

.directory-path{
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    font-size: 16px;
}

.cards{
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    height: 300px;
    overflow-y: scroll;
}

.require-name{
    color: red;
}

.card {
  width: 100%;
  min-height: 80px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #ffffff;
    border: 1px solid rgb(121, 121, 121);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /*position: relative;*/
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.download-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.download-icon {
  padding: 10px;
  background-color: lightsteelblue;
  cursor: pointer;
  border-radius: 10%;
  
}
.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*flex-grow: 1;*/
  overflow: hidden;
  width: 100%;
}
.file-name,
.file-url{
  margin: 0;
  cursor: default;
}
.file-name {
  color: black;
  font-size: 17px;
  padding: 5px 0;
 border-width: 0 0 1px 0;
 border-color: darkolivegreen;
 outline: none;
}
.file-url-overflow{
    width: 100%;
    overflow: scroll;
    padding-bottom: 10px
}
.file-url {
  font-size: 14px;
  color: #555;
}

.file-title{
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.file-size{
    color: black;
    font-size: 24px;
    text-align: center;
}

.justify-files{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.bg-gray{
    background-color: #b5b5b5;
}

.cross-icon {
    cursor: pointer;
    padding: 3px;
    border-radius: 100%;
}
.cross-icon:hover{
    background-color: tomato;
}

.sync-container{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 75px;
}

.sync{
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 18px;
    text-align: center;
}

.sync:hover{
    background-color: rgb(209 213 219);
}


.animate {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.arc {
    --b: 5px; /* the boder thickness */
    --a: 240deg; /* control the progression */

    width: 20px;
    aspect-ratio: 1;
    padding: var(--b);
    border-radius: 50%;
    background: #c0d860;
    --_g:/var(--b) var(--b) no-repeat
    radial-gradient(50% 50%,#000 97%,#0000);
    mask: top var(--_g),
    calc(50% + 50%*sin(var(--a)))
    calc(50% - 50%*cos(var(--a))) var(--_g),
    linear-gradient(#0000 0 0) content-box intersect,
    conic-gradient(#000 var(--a),#0000 0);
}

